body {
    background-color: transparent;
    background-image: url("images/stardust.png");
    background-attachment: fixed;
    color: #95989A;
    font-size: 10pt;
}

header {
    padding-top: 40px;
}

a {
    color: #95989A;
}

h2 {
    font-size: 14pt;
    color: white;
}

h3 {
    color: white;
}

h4 {
    font-size: 10pt;
    color: #95989A;
}

ul {
    list-style-type: none;
}

.text ul {
    padding: 0;
}

.github a {
    color: #95989A;
    padding: 0;
}

.image-card-layout {
    width: 80%;
    height: inherit;
    margin: auto;
}

.col {
    padding: 20px;
    margin: 10px;
}

.tools {
    margin: auto;
    width: max-content;
}

.card-img-top {
    width: 75%;
    margin: 5% auto;
}

.card {
    margin: 10px;
    width: 20rem;
    border-radius: 0px 20px 0px 20px;
    box-shadow: inset -7px 4px 106px -20px rgba(0, 0, 0, 0.55);
}